flows (2).json
[{"id":"1dab7678.bde93a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1e20d4f9.0c86eb","type":"function","z":"1dab7678.bde93a","name":"PreToken","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"pd\",msg.payload.pd)\nglobal.set(\"cl\",msg.payload.cl)\nvar apikey=\"BzeJ-XDd84p_kLvJgzza6NQk3-QqQAhez_9uTob_ij8R\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["e5694beb.ea0f08"]]},{"id":"e5694beb.ea0f08","type":"http request","z":"1dab7678.bde93a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":328.9999952316284,"wires":[["5cd97b28.cbcc84"]]},{"id":"2da407ae.ae2638","type":"debug","z":"1dab7678.bde93a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":898.0000114440918,"y":70.99999713897705,"wires":[]},{"id":"5cd97b28.cbcc84","type":"function","z":"1dab7678.bde93a","name":"Pre Prediction","func":"var pg = global.get('pg')\nvar pl=  global.get('pl')\nvar pr = global.get('pr')\nvar sk = global.get('sk')\nvar ts = global.get('ts')\nvar ms = global.get('ms')\nvar pd = global.get('pd')\nvar cl = global.get('cl')\nvar token=msg.payload.access_token\nvar instance_id=\"a9c0dcf1-c421-4b0d-ba2a-9e59329d4511\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"class\"], \"values\": [[pg,pl,pr,sk,ts,ms,pd,cl]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":656.0000076293945,"y":291.9999990463257,"wires":[["4902d671.b621d8"]]},{"id":"4902d671.b621d8","type":"http request","z":"1dab7678.bde93a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/725fba32-96d4-4ce3-b367-3f9a5f94fb51/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":235.99999904632568,"wires":[["3c165942.8ad876","2da407ae.ae2638"]]},{"id":"e64615e7.551e68","type":"ui_form","z":"1dab7678.bde93a","name":"","label":"","group":"450dd133.cf335","order":0,"width":0,"height":0,"options":[{"label":"preg","value":"pg","type":"number","required":true,"rows":null},{"label":"plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"test","value":"ts","type":"number","required":true,"rows":null},{"label":"mass","value":"ms","type":"number","required":true,"rows":null},{"label":"pedi","value":"pd","type":"number","required":true,"rows":null},{"label":"class","value":"cl","type":"number","required":true,"rows":null}],"formValue":{"pg":"","pl":"","pr":"","sk":"","ts":"","ms":"","pd":"","cl":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":382.9999952316284,"wires":[["1e20d4f9.0c86eb"]]},{"id":"3c165942.8ad876","type":"function","z":"1dab7678.bde93a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":609.6000366210938,"y":131.60000133514404,"wires":[["7ab375ac.750fcc"]]},{"id":"7ab375ac.750fcc","type":"ui_text","z":"1dab7678.bde93a","group":"450dd133.cf335","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":787.6000366210938,"y":388.20000743865967,"wires":[]},{"id":"450dd133.cf335","type":"ui_group","z":"","name":"Internship","tab":"a70472a1.57a19","order":1,"disp":true,"width":"6","collapse":false},{"id":"a70472a1.57a19","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]